*{
    box-sizing:border-box;
    font-family: 'Gothic A1', sans-serif;
}

html { 
    background: url(../media/bg.jpg) no-repeat center center fixed; 
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 

/* .bgImg{
    
  } */

.feedback-page{
    
    flex-direction: column;
    align-content: center; 
    justify-content: space-between;
    align-self:center;
}

h1{
    font-family: 'Prompt', sans-serif;
    /* padding-bottom: 2px; */
    background-color:gray;
    color:white;
    text-align: center;
    width:100%;
    height:auto;
    margin-bottom:15px;
    vertical-align: center;
}

body {
    margin:0;
    text-align:center;
    color:white;
    font-size: 19px
}

button{
    height: 25px;
    width: 175px;
    border-radius: 12px;
    border:1px solid #d6bcd6;
    cursor: pointer;
    color:black;
    text-decoration:none;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    box-shadow: 3px 4px 0px 0px #899599;
    text-shadow:0px 1px 0px #e1e2ed;
    font-size: 20px;
    cursor: url(../media/whisk-cooking-tool.png), pointer;

}

.questionImage{
    width:90%;
    max-width: 400px;
    height:auto;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 2px solid grey; 
}

fieldset{
    border:0;
}

.feedbackImage{
    border: 2px solid grey; 
    margin-top:60px;
    margin-bottom:60px;
    margin-left:10px;
    margin-right:10px;
    text-align:center;
    width:80%;
    max-width: 400px;
    height:80%;
}

label:hover{
    background-color:white;
    text-transform:capitalize;
    color:black
    
}
label{
    cursor: url(../media/whisk-cooking-tool.png), pointer;
}


.quizz-space{
    align-self:center;
}

.quizz-app-form{
    text-align:left;
}

.quizz-app-form > .questions{
    text-align: center;
    background-color: whitesmoke;
}

.answer-submit{
    text-align:center;
    padding: 15px;
    display:block;
}

.restart{
    text-align:center;
    padding: 15px;
    display:block;
}

.hide{
    display:none;
}

.answer-space{
    text-align:center;
    padding: 15px;
    display:block; 
}

h2{
    color:white;
    font-size: 1.5em
}

@media screen and (min-width: 400px){
    body{
        display:flex;
        flex-direction:column;
        align-items: center;
        
    }
    
    h1{
        width:100vw;
        height:8vh;
    }

}
@media screen and (min-width: 700px){
    
}


